################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/.vs/Project1/v17/Browse.VC.opendb
*.vsidx
/Project1/.vs/Project1/v17/Browse.VC.opendb
/Project1/.vs/Project1/v17/Browse.VC.opendb
/Project1/.vs/Project1/CopilotIndices/17.14.698.11175/CodeChunks.db
/Project1/.vs/Project1/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/Project1/.vs/Project1/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/Project1/.vs/Project1/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/Project1/.vs/Project1/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/Project1/.vs/Project1/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/Project1/.vs/Project1/FileContentIndex/5ae7c0fa-8fc3-4577-bbed-2084adfdebf6.vsidx
/Project1/.vs/Project1/FileContentIndex/81ccd1ee-e717-4ede-af99-d393fd227fb2.vsidx
/Project1/.vs/Project1/FileContentIndex/8d2b8bf8-10ff-4691-8f04-9cd66bd698c0.vsidx
/Project1/.vs/Project1/FileContentIndex/a701f618-2723-48c5-83e5-b8dbb6eb81b9.vsidx
/Project1/.vs/Project1/FileContentIndex/d4984c66-7633-4c00-b0c5-76d5bb2225fc.vsidx
/Project1/.vs/Project1/v17/Browse.VC.db
/Project1/.vs/Project1/v17/Browse.VC.db-shm
/Project1/.vs/Project1/v17/DocumentLayout.backup.json
/Project1/.vs/Project1/v17/DocumentLayout.json
/Project1/.vs/Project1/v17/Solution.VC.db
/Project1/.vs/Project1/v17/Solution.VC.db-shm
/Project1/.vs/Project1/v17/Solution.VC.db-wal
/Project1/.vs/Project1/v17/.suo
/Project1/.vs/Project1/copilot-chat/8341687c/sessions
